<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" style="background-color:crimson" role="navigation">
    <div id="img" style="float:left;padding-left:10px">
        <img src="~/images/2015logowhite.png" width="50" height="50">
    </div>
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"><font color="white">Ordering GUI - CMB</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a class="page-scroll" href="#page-top"></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<section id="login" class="">
    <div class="container col-md-6 col-md-offset-3">
        @Html.Partial("~/Views/Login/Login.cshtml")
    </div>
</section>