
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ValidateCredentials</title>
</head>
<body>
    <div> 
        <input type="text" class="form-control" placeholder="Username" id="txtUserID" maxlength="20" required="" autofocus="" /> <br />
        <input type="password" class="form-control" placeholder="Password" id="txtPwd" maxlength="20" required="" /> <br />
        <input type="button" class="form-control" value="Login" id="btnLogin" onclick="ValidateUser()" />
        <h2> @ViewBag.Name - @ViewBag.Pwd </h2>

    </div>
</body>
</html>
